<%= simple_form_for(@accomodation) do |f| %>
  <% if @accomodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accomodation.errors.count, "error") %> prohibited this accomodation from being saved:</h2>

      <ul>
      <% @accomodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_nos %><br>
    <%= f.text_field :room_nos %>
  </div>
  <div class="field">
    <%= f.label :validity_period %><br>
    <%= f.text_field :validity_period %>
  </div>
  <div class="field">
    <%= f.label :has_occupant %><br>
    <%= f.check_box :has_occupant %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :hostel %><br>
    <%= f.text_field :hostel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
