<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= notice %></strong>
  </div>
<% end %>

<p>
  <strong>Room nos:</strong>
  <%= "RM #{@accomodation.room_nos}" %>
</p>

<p>
  <strong>Validity period:</strong>
  <%= @accomodation.validity_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @accomodation.has_occupant ? "Occupied" : "Vacant" %>
</p>

<p>
  <strong>User:</strong>
  <%= "#{@accomodation.student.full_name} ( #{@accomodation.student.matric_nos} )" %>
</p>

<p>
  <strong>Hostel:</strong>
  <%= @accomodation.hostel.name %>
</p>

<%= link_to 'Edit', edit_accomodation_path(@accomodation) %> |
<%= link_to 'Back', accomodations_path %>
