<%= simple_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="col-md-6" >
     <div class="field form-group">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname, class:"form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :firstname  %><br>
      <%= f.text_field :firstname, class:"form-control"  %>
    </div>
     <div class="field form-group">
      <%= f.label :phonenos %><br>
      <%= f.text_field :phonenos, class:"form-control"  %>
    </div>
    <div class="field form-group">
      <%= f.label :matric_nos %><br>
      <%= f.text_field :matric_nos, class:"form-control"  %>
    </div>
  </section>

  <section class="col-md-6" >
    <div class="field form-group">
      <%= f.label :department %><br>
      <%= f.text_field :department, class:"form-control"  %>
    </div>
     <div class="field form-group">
      <%= f.label :level %><br>
      <%= f.text_field :level, class:"form-control"  %>
    </div>
    <div class="field form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email , class:"form-control" %>
    </div>

    <div class="actions">
      <label> &nbsp;</label>
      <input type="submit" class="form-control btn btn-primary">
    </div>
  </section>
 
  
 
 
  
<% end %>
