<h1>Listing adminstrators</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Auth level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adminstrators.each do |adminstrator| %>
      <tr>
        <td><%= adminstrator.employee_id %></td>
        <td><%= adminstrator.lastname %></td>
        <td><%= adminstrator.firstname %></td>
        <td><%= adminstrator.email %></td>
        <td><%= adminstrator.auth_level %></td>
        <td><%= link_to 'Show', adminstrator %></td>
        <td><%= link_to 'Edit', edit_adminstrator_path(adminstrator) %></td>
        <td><%= link_to 'Destroy', adminstrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adminstrator', new_adminstrator_path %>
